.page-instructions {
    font-size: 16px;
    text-align: center;
}

.icon-small.icon {
    font-size: 16px;
}

.scroll {
    height: 100%;
}

ion-slides {
    height: 430px;
}

.align-center {
    text-align: center;
}

img.restaurant-image {
    max-height: 150px;
}